ul {
    list-style-type: none;
}

img {
    width: 100%;
    max-width: 320px;
}


html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    box-sizing: border-box;
    color: white;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}



  button {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 28px;
  }
  

 
  

  /* .image-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    
}

.image-list li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 320px;
    position: static;
    max-width: 320px;
    width: 100%;


}
  
.image-list li img {
    width: 100%;
    border-radius: 50%;
}

.hidden {
  display: none;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.overlay.visible {
  display: flex;
}

.modal {
  background-color: blue;
  border-radius: 8px;
  display: block;
  margin: auto;
  position: relative;
  padding: 16px;
  height: 300px;
  width: 600px;
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal .close {
  background: silver;
  border: none;
  border-radius: 50%;
  color: #fff;
  height: 24px;
  width: 24px;
  padding: 4px;
  position: absolute;
  top: 8px;
  right: 8px;
} */